/* General Styling */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

.DownButton {
  font-size: 24px;
  font-weight: bold;
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #fff;
}

.DownButton:hover {
  background-color: rgb(200, 0, 0);
}

.readm {
  font-size: 18px;
  background-color: #fac928;
  cursor: pointer;
}

.readm:hover {
  background-color: rgb(200, 0, 0);
}

/* Header */
header {
  font-size: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: white;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.title {
  font-size: 3em;
  margin: 0;
}

/* Sections with Background Image */
section[style*="background-image"] {
  display: flex;
  align-items: center;
  min-height: 100vh;
  color: rgb(255, 234, 0);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 0 5%;
}

.left-content {
  flex: 2;
  text-align: left;
}

.left-content h3 {
  font-size: 3em;
}

.right-content {
  flex: 3;
  text-align: left;
  padding-left: 5%;
  color: rgb(255, 234, 0);
}

/* Attractions */
section[style*="attback.jpg"] {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.TopAttractionsHeader h3 {
  font-size: 50px;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 60px;
}

.attractions {
  display: flex;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}

.attractions > div {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 500px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: rgb(174, 0, 0);
  font-weight: bold;
  position: relative;
}

.attractions span {
  z-index: 2;
}

.card-button {
  position: absolute;
  bottom: 10px;
  left: 10px;
  padding: 10px 20px;
  border: none;
  background-color: transparent;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

.card-button:hover {
  background-color: rgb(200, 0, 0);
}

/* Stats */
.stats {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  padding: 2rem 0;
}

.stats > div {
  text-align: center;
  width: 250px;
  height: 250px;
  color: rgb(255, 255, 255);
  border-radius: 50%;
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Stats_header {
  color: darkgoldenrod;
  font-weight: bold;
  font-size: 50px;
  margin: 0;
}

/* Quote */
.button-container {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

section {
  position: relative;
  min-height: 300px;
}

.quote-section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
}

.circle-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}

blockquote {
  font-style: italic;
  text-align: center;
  color: #fff;
  width: 60%;
  margin: 0 auto;
}

/* Image Section */
.carousel-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100vw;
  overflow: hidden;
}

.image-container {
  display: flex;
  max-height: 270px;
  width: 400%;
}

.image-container img {
  width: 25vw;
  height: auto;
  object-fit: cover;
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: yellow;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  z-index: 1;
}

.carousel-btn.left {
  left: 10px;
}

.carousel-btn.right {
  right: 10px;
}

/* Footer */
.contact-section {
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
  background: url("../images/contact.jpeg") no-repeat center center/cover;
}

.contact-info {
  flex-basis: 40%;
  padding: 20px;
}

.contact-info h2 {
  margin-bottom: 20px;
  font-size: 36px;
  color: #fac928;
}

.contact-info p {
  margin-bottom: 10px;
  color: #fff;
}

.social-icons {
  margin-top: 20px;
}

.social-icons a {
  margin-right: 15px;
  font-size: 20px;
  color: #fac928;
  text-decoration: none;
}

.contact-form {
  width: 45%;
  background: rgba(255, 255, 255, 0);
  padding: 30px;
  border-radius: 5px;
}

.contact-form form {
  display: flex;
  flex-direction: column;
}

.contact-form input,
.contact-form textarea {
  padding: 10px;
  color: #fff;
  margin-bottom: 15px;
  background: rgba(255, 255, 255, 0);
  border: 2px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.contact-form button {
  padding: 10px 20px;
  background-color: #fac928;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
